@font-face {
  font-family: "netflix-sans";
  src: url("/public/assets/NetflixSans-Regular.otf") format("opentype");
}

body {
  background-color: #141414 !important;
  font-family: "netflix-sans";
}

nav {
  font-size: 14px;
}


.navbar-brand img {
  height: 48px;
}


.navbar-dark .navbar-nav .nav-link {
  color: #e5e5e5;
  padding-right: 1.8rem;
}

.navbar-dark .navbar-nav .nav-link:not(:first-child):hover {
  color: #b3b3b3;
}

.navbar-dark button {
  background-color: transparent;
  border: none;
  margin-left: auto;
}

.navbar-dark button:hover {
  background-color: transparent;
}

.navbar-dark button:focus {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.navbar-dark button:active {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}


.profile img {
  height: 40px;
  cursor: pointer;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #ffffff transparent transparent transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.profile:hover .triangle {
  transform: rotate(180deg);
}

.navbar input {
  background-color: transparent;
  border-radius: 0;
  font-size: inherit;
}

.navbar input:focus {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  border-color: white;

}

.align-container {
  padding-inline: 3.7rem;
}

#tv-shows {
  position: sticky;
  background-color: #141414;
  min-height: 10vh;
  top: -1px;
  z-index: 1;
}

#tv-shows h2 {
  font-size: 35px;
}

#tv-shows .dropdown button {
  color: white;
  font-size: 13px;
  border: 1px solid white;
  background-color: transparent;
  letter-spacing: 0.5px;
  padding-block: 0.2rem;
  border-radius: 0 !important;
}

#tv-shows .dropdown button:focus {
  box-shadow: none;
}

.dropdown-toggle::after {
  margin-left: 1.2rem;
}

.dropdown-menu {
  font-size: 14px;
  background-color: #040302;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.dropdown-item:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.shows-icons div:first-child {
  border: 1px solid white;
  cursor: pointer;
}

.shows-icons div:last-child {
  color: #b3b3b3;
  border: 1px solid #b3b3b3;
  border-left: none;
  cursor: pointer;
}

.shows-icons div svg {
  width: 15px;
  height: 15px;
  margin: 0.3rem 0.8rem;
}

.shows-icons div:last-child:hover {
  color: white;
  border-color: white;
}


section h3 {
  font-size: 20px;
  color: #e5e5e5;
  letter-spacing: 0.5px;
  cursor: pointer;
}


.movies-container {
  margin-inline: -0.1rem;
  display: flex;
  flex-wrap: nowrap;
}

.movie-img {
  padding-inline: 0.1rem;
}

footer {
  font-size: 11px;
  color: gray;
}

footer a {
  text-decoration: none;
  font-size: 13px;
  color: gray;
}

footer a:hover {
  color: gray;
  text-decoration: underline;
}

.service-btn {
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 0 !important;
  font-size: 13px;
  color: gray;
  padding: 0.5em;
}

footer button.service-btn:hover {
  color: white !important;
}

.explore span,
.explore i {
  color: #54b9c5;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  visibility: hidden;
  transform: translateX(-20px);
  transition: transform 0.3s ease-in-out, visibility 0.2s ease-in-out;
}

section:not(:first-of-type):hover .explore span {
  visibility: visible;
  transform: translateX(20px);
}


section:not(:first-of-type):hover .explore i {
  visibility: visible;
  transform: translateX(20px);
}


.card {
  background-color: #141414;
  cursor: pointer;
  transition: all 0.2s;
}

.card:hover {
  scale: 1.4;
  z-index: 2;
  position: absolute;
  top: 20px;
  -webkit-box-shadow: 0px 7px 11px -1px #000000;
  box-shadow: 0px 7px 11px -1px #000000;
}


.card .volume {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -30%;
  right: 5%;
  font-size: 25px;
  background-color: #141414c8;
  height: 35px;
  width: 35px;
  color: #b3b3b3bc;
  border-radius: 50%;
  border: 2px solid #b3b3b3bc;
  opacity: 0.5;
  transition: all 0.4s ease-in-out;
}

.card .volume:hover {
  opacity: 1;
}

.card .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background-color: #b3b3b31e;
  height: 35px;
  width: 35px;
  color: white;
  border-radius: 50%;
  border: 2px solid #c8c4c4;
}

.card .icon-special {
  background-color: #c8c4c4;
}

.card .icon:hover {
  color: white;
  border-color: white;
}

.card .icon-special:hover {
  background-color: white;
}

.right-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 13px;
  border-color: transparent transparent transparent #141414;
}

.match {
  color: #46d369;
  font-weight: bold;
  font-size: 11px;
}

.age {
  border: 1px solid white;
  color: white;
  font-size: 11px;
}

.limited {
  font-size: 11px;
  color: white;
}

.genre {
  font-size: 10px;
}


.card-body {
  display: none;
  position: relative;
}

.card:hover .card-body {
  display: block;
}

.carousel {
  margin-right: -80px;
  margin-left: 0.8rem;
}

.carousel-inner {
  overflow: visible;
}

.carousel-control-next {
  width: 80px;
  right: 0px;
}

.carousel-control-prev {
  width: 80px;
  left: -15px;
}

.carousel-control-next:hover {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.36207986612613796) 0%, rgba(0, 0, 0, 0.6646008745294993) 33%, rgba(0, 0, 0, 1) 100%);
}

.carousel-control-prev:hover {
  background: rgb(0, 0, 0);
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.36207986612613796) 0%, rgba(0, 0, 0, 0.6646008745294993) 33%, rgba(0, 0, 0, 1) 100%);
}

.card img {
  max-height: 150px;
  object-fit: cover;
  object-position: top;
}

#watch-again,
#new-releases {
  margin-top: 3rem;
}

.movie-title {
  font-size: 14px;
  color: white;
}

footer .icons {
  padding-inline: 10px;
}

.footer-icon {
  margin-right: 25px;
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: white;
}

footer .col-6 button {
  background-color: transparent !important;
  border: none !important;
  font-size: 13px;
  color: gray;
}

footer .col-6 button:hover {
  text-decoration: underline;
  color: gray;
}

footer button:hover,
footer button:active {
  background-color: transparent !important;
  border-color: gray !important;
}

footer button:focus {
  color: gray !important;
  box-shadow: none !important;
  background-color: transparent !important;
  border-color: gray !important;
}


.spinner {
  position: absolute;
  z-index: 3;
  left: 45%;
  top: 40%;
}

.error {
  position: absolute;
  z-index: 3;
  left: 42%;
  margin-top: -25px;
}